# .gitignore

# Ignorar o ambiente virtual
venv/

# Ignorar cache do Python
__pycache__/

# Ignorar arquivos específicos do macOS
.DS_Store

# Ignorar logs
*.log
logs/

# Ignorar configurações locais do VS Code
.vscode/

# Ignorar arquivos temporários
data/Temp/
data/debug_log.json
src/debug_log.json
debug_log.json

# Ignorar binários e compilados do Python
*.pyc
*.pyo

# Ignorar capturas de tela (se existirem)
# screenshots/

# Ignorar OCR de capturas de tela (se existirem)
# OCR/

